{{ define "partition" }}
{{ template "head" }}

<div class="inner cover">
    <h1 class="cover-heading">Instalação ArchLinux</h1>
    <p class="lead"></p>
    <p class="lead">
      <form action="/user" method="POST">
          <div class="form-group">
              <h3>Começaremos pela escolha da partição. Qual unidade você deseja instalar o ArchLinux?</h3>
			
              <button type="submit" name="begin" class="btn btn-lg btn-default">Iniciar</button>
          </div>       
      </form>
    </p>
</div>
{{ template "footer" }}
{{ end }}
