{{define "timezone"}}
{{ template "head" }}

<div class="inner cover">
	<h2 class="cover-heading">Informe seu fuso horário</h2>
    
    <p class="lead">
      <form action="/" method="POST">

        <div class="form-group">
             <label for ="timezone">Qual seu fuso horário atual?</label>
			<input id="inputTimezone" name="timezone" class="form-control">
		</div>
		<p><button type="submit" name="begin" class="btn btn-lg btn-default">Próximo passo</button>
		</div>
      </form>
    </p>
</div>
{{ template "footer" }}
{{ end }}
